<!DOCTYPE html>
<html>
<head>
    <title>Graficos de interés</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>Gráficos de interés</h1>
    </div>
    <div style="text-align: center;">
        <iframe title="sss" width="1024" height="612" src="https://app.powerbi.com/view?r=eyJrIjoiNDAyZDFiMTEtMDgwOS00Y2Y4LTllMDctYzRmN2I2YzFkNTZhIiwidCI6IjllMDZlMmQ2LTBlODMtNDRiYi04MDBiLTZlYjAxZTFjNDM4OSIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
    
</body>
</html>

