<!DOCTYPE html>
<html>
<head>
    <title>Graficos de interés</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>Graficos de interés</h1>
    </div>
    <div style="text-align: center;">
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-tkmhe/embed/charts?id=647e607c-23c6-47d6-80ef-74915d991782&maxDataAge=60&theme=light&autoRefresh=true"></iframe>
    </div>
    <div style="text-align: center;">
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-tkmhe/embed/charts?id=647e5c4d-f045-43dd-8761-210564fb3919&maxDataAge=60&theme=light&autoRefresh=true"></iframe>
    </div>
    <div style="text-align: center;">
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-tkmhe/embed/charts?id=647e6156-4539-42d7-8184-9807febfef7a&maxDataAge=60&theme=light&autoRefresh=true"></iframe>
    </div>
    <div style="text-align: center;">
        <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-tkmhe/embed/charts?id=647e6a48-f3f7-4262-8c39-05feae0da36a&maxDataAge=60&theme=light&autoRefresh=true"></iframe>
    </div>
</body>
</html>

